.homepage{
    margin-top: 30px !important;
    flex-direction: column;
    min-width: 870px;
}

th{
    background-color: #6699CC;
    color: white;
}

td{
    color: Teal;
}

.monhoc{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 215);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 5px;
    box-sizing: border-box;
}

.time{
    width: 70px !important;
}

.btn-info{
    padding: 3px 8px !important;
    font-size: 12px !important;
    background-color: #e3e3e3 !important;
    border: 1px solid #a3a3a3 !important;
    width: 70px;
    user-select: none;
}

.btn-function{
    width: 100px !important;
    background-color: #011f4b !important;
    color: white !important;
    text-align: center !important;
    cursor: default;    
    margin: 0px 5px !important;
    font-weight: bold;
}

.btn-function:hover{
    background-color: #033d94 !important;
    border: 1px solid #033d94 !important;
}

.btn-info:hover{
    border: 1px solid black !important;
    transition: .5s;
}
.detail{
    width: 350px;
    height: 200px;
    background-color: #eee;
    border: 2px solid #a3a3a3;
    border-radius: 5px;
    padding: 5px;
    box-sizing: border-box;
    display:none;
    overflow-wrap: break-word;
}
.detail-function{
    transform: translateX(-50%);
    bottom: 5px !important;
}
.detail-function .btn-info{
    width: 100px !important;  
    margin: 0px 10px; 
}
th,td{
    border: 1px solid #5a5a5a !important;
    width: 150px !important;
    height: 34px !important;
    border-collapse: collapse;
    font-size: 13px;
    font-weight: bold;
    user-select: none;
}
td:hover > .detail{
    display: block;
}
.addwork{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.7) !important;
    z-index: 10;
}

.sbjplc i{
    padding: 0px 10px;
}

.addwork-form{
    width: 350px;
    height: 200px;
    background-color: white !important;
    border-radius: 8px;
    flex-direction: column;
    padding: 25px;
}

#mywork{
    width: 300px !important;
    height: 100px !important;
    resize: none;
    font-size: 14px;
}

.filebtn{
    overflow: hidden;
}

#synch-btn{
    display:none;
}

